*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
}
.a{
    width: 200px;
    height: 130px;
    background-color: white;
    border-radius: 90px 90px 0 0;
}
.b{
    width: 200px;
    height: 130px;
    background-color: yellow;
    border-radius: 0px 0px 10px 0;

}
.sick{
    width: 200px;
    height: 130px;
    background-color: white;
    border-radius: 90px 90px 0 0;
}
.first{
    width: 200px;
    height: 130px;
    background-color: rgb(195, 13, 13);
    border-radius: 90px 90px 0 0;
}
.second{
    width: 200px;
    height: 130px;
    background-color: rgb(255, 255, 255);
    border-radius: 90px 90px 0 0;
}
.third{
    width: 200px;
    height: 130px;
    background-color: rgb(255, 255, 255);
    border-radius: 90px 90px 0 0;
}


